.container,header,footer{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    
}

.container, footer{
    width: 80%;
    background-color: aliceblue;
}

header{
    margin: 1%;
}

footer{
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 5em;
    font-weight: 700;
    padding: 0.1em;
    margin: 0.1em;
    text-align: center;
}

nav.main-menu ul li.main-menu-item{
    list-style-type: none;
    font-size: 2em;
    padding: 0.1em;
    display: inline-block;
    background-color: lightblue;
    border: 1px solid black;
}

nav.main-menu ul li.main-menu-item:hover{
    background-color: aquamarine;
    transition: 0.5s;
}

#deco, #co{
    background-color: aliceblue;
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

h2, p{
    margin: 1.5em;
}

h2{
    font-size: 2.5em;
}

p{
    font-size: 1.5em;
}

#img_table{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

th, td{
    width: 5em;
    height: 5em;
    border: 2px solid black;
    border-collapse: collapse;
}

#camion{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

#vroum{
    border: 2px solid black;
}

.formulaire{
    margin: 1em;
}